<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="custom_ffmpeg_compressor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <custom_ffmpeg_compressor.Properties.Settings>
            <setting name="sourceFolderPath" serializeAs="String">
                <value>G:\\video stuff\\next up</value>
            </setting>
            <setting name="destinationFolderPath" serializeAs="String">
                <value>G:\\video stuff\\ready for hard dive</value>
            </setting>
            <setting name="cqp" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="deleteOnEncodeSuccess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deleteOnCopySuccess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="outputSuffix" serializeAs="String">
                <value>HEVC_CQP24</value>
            </setting>
            <setting name="logLevel" serializeAs="String">
                <value>DEBUG</value>
            </setting>
            <setting name="timestampFormat" serializeAs="String">
                <value>dd_MM_yyyy_HH:mm:ss.fff</value>
            </setting>
            <setting name="showProcessWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deletePermanently" serializeAs="String">
                <value>True</value>
            </setting>
        </custom_ffmpeg_compressor.Properties.Settings>
    </applicationSettings>
</configuration>